body,html{
    height:vh;
    width:vw;
    background-color:#152535;
    margin:0;
    padding:0;
    color:white;
    font-family: 'Poppins';
}

.divofheading{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.heading{
    font-weight: bolder;
    font-stretch: ultra-expanded;
    font-family: 'Josefin Sans';
}

.barheads{
    font-family: 'Josefin Sans';
    border-left: white;
    border-left-width: thick;
    border-left-style: solid;
}

a{
    color:white;
}
li a:hover{
    color:rgb(121, 119, 117);
}

.has-search .form-control {
    padding-left: 2.375rem;
    background-color:transparent;
    color:white;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: white;
}

.poster{
    margin:90px 50px 0 50px;
    display: flex;
    align-items: flex-end;
}

.mainimage{
    width:62vw;
}

.sideimage{
    width:27vw;
    border-radius: 5px;
}

.forspacing{
    margin-left: 30px;
    
}

.description{
    color:rgb(185, 179, 179);
}

.description button, .description a{
    margin-left: 15px;
    color:rgb(185, 179, 179);
}

.rating{
    color:rgb(168, 168, 33);
}

.section1{
    margin:50px 50px 0 50px;
    font-weight: lighter;
    font-size: small;
}

.togivemargin{
    margin-top: 30px;
}

.correct{
    background-color: transparent;
    border: none;
    position: relative;
    display: inline-block;
}

.correct:hover{
    cursor: pointer;
    position: relative;
    transition:0.3s;
    z-index:6;
    -webkit-box-shadow: -1px 9px 40px -12px #6c7175;
    -moz-box-shadow: -1px 9px 40px -12px #6c7175;
    box-shadow: -1px 9px 40px -12px #6c7175;
}
.cropimg{
    width:325px;
    height: 200px;
    object-fit: cover;
    transform: scale (1.2);
}

.correct .card-img-top {
    z-index: 5;
    position: relative;
}

.correct .card-body {
    background-color: #203345;
    /* display: none; */
    position: absolute;
    height: 0px;
    overflow: hidden;
    padding: 0px;
    transition: transform ease-in ;
    transform: translate(0, -100%);
    -webkit-box-shadow: -1px 9px 40px -12px #6c7175;
    -moz-box-shadow: -1px 9px 40px -12px #6c7175;
    box-shadow: -1px 9px 40px -12px #6c7175;
}

.correct:hover .card-body {
    height: auto;
    overflow: hidden;
    padding: 1.25rem;
    z-index: 4;
    transform: translate(0, 0);

}

.correct:hover .cropimg {
    transform: scale(1.1);
    transition: transform ease-in ;
}

.correct .card-title .fa-plus {
    position: absolute;
    right: 10px;
    display: inline-block;
}

.genre{
    background-color: transparent;
    border: none;
}

.genre:hover{
    cursor: pointer;
    position: relative;
    transition:0.3s;
    z-index:6;
    -webkit-box-shadow: -1px 9px 40px -12px #6c7175;
    -moz-box-shadow: -1px 9px 40px -12px #6c7175;
    box-shadow: -1px 9px 40px -12px #6c7175;
}

.genre:hover .card-img-top{
    transform: scale(1.1);
    transition: transform ease-in ;
}

.genre .card-title .fa-plus {
    position: absolute;
    right: 10px;
    display: inline-block;
}
