body,html{
    height:vh;
    width:vw;
    background-color:#152535;
    margin:0;
    padding:0;
    color:white;
    font-family: 'Poppins';
}

.divofheading{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.heading{
    font-weight: bolder;
    font-stretch: ultra-expanded;
    font-family: 'Josefin Sans';
}

a{
    color:white;
}
li a:hover{
    color:rgb(121, 119, 117);
}

.has-search .form-control {
    padding-left: 2.375rem;
    background-color:transparent;
    color:white;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: white;
}

.poster{
    margin:100px 50px 0 50px;
    display: flex;
    align-items: flex-end;
}

.section1{
    margin:50px 50px 0 50px;
    font-weight: lighter;
    font-size: small;
}

.mainimage{
    width:62vw;
}

.description button{
    margin-left: 15px;
}

.sideimage{
    width:27vw;
    border-radius: 5px;
}

.forspacing{
    margin-left: 30px;
}

.togivemargin{
    margin-top: 40px;
}

.fu{
    margin-top: 20px;
    margin-bottom: 0px;
}
.fanfav{
    margin:10px 0 0 50px;
}

.correct{
    background-color: transparent;
    border: none;
}

.rating{
    color:yellow;
}

.call-to-action , .text-right{
    text-align: center;
}