@media only screen and (max-width: 575.98px) { 
        .navbar .nav-item{
        display: block;
        width:100%;
        padding: 10px 0px;
        text-align: center;
        }
        .navbar .nav{
            background-color: #203345;
        }
        .poster{
            margin:5px;
        }
        .sideimage{
            display: none;
        }
        .heading{
            font-size: larger;
        }
        .description{
            font-size: small;
        }
        .forspacing{
            margin-left:8px;
            margin-top: 10px;
        }
        .description button, .description a{
            margin-left: 8px;
            font-size: small;
        }
        .section1{
            margin:15px 5px 0 5px;
        }
        .barheads{
            font-size: large;
        }
        .togivemargin{
            margin-top: 5px;
        }
        .letter{
            font-size: 60px;
        }
        .page-footer .navbar ul{
            flex-wrap: nowrap;
            font-size: x-small;
        }
 }


@media only screen and (max-width: 767.98px) {

    .navbar .nav-item{
    display: block;
    width:100%;
    padding: 10px 0px;
    text-align: center;
    }
    .navbar .nav{
        background-color: #203345;
    }
    .poster{
        margin:5px;
    }
    .sideimage{
        display: none;
    }
    .holder{
        height: vw;
        width: vw;
    }
    .heading{
        font-size: larger;
    }
    .description{
        font-size: small;
    }
    .forspacing{
        margin-left:12px;
        margin-top: 10px;
    }
    .description button, .description a{
        margin-left: 12px;
        font-size: small;
    }
    .section1{
        margin:15px 5px 0 5px;
    }
    .barheads{
        font-size: large;
    }
    .togivemargin{
        margin-top: 5px;
    }
    .letter{
        font-size: 60px;
    }
 }


@media only screen and (max-width: 991.98px) { 
    .navbar .nav-item{
        display: block;
        width:100%;
        padding: 10px 0px;
        text-align: center;
        }
        .navbar .nav{
            background-color: #203345;
        }
 }
    

@media only screen and (max-width: 1199.98px) { 

        }
